---
layout: archive
title: "Talks and Podcasts"
permalink: /talks/
author_profile: true
sitemap: false
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<!-- <div class="list__item">
<article class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork">

<h2 class="archive__item-title" itemprop="headline">
  
    <a href="/talks/2025-02-01-podcast-interview-amish-munshi" rel="permalink">Podcast Interview with Amish Munshi on Main Streets Minds</a>
    
  
</h2>

<p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> February 01, 2025</p>
<p class="archive__item-excerpt" itemprop="description">Podcast, Main Street Minds,  Online 
</p><p class="archive__item-excerpt" itemprop="description"></p><p>Listen to my podcast interview with Amish Munshi on Main Street Minds</p>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1zhRKakTHq6QQLGtGcUMJi?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</article>
</div>

<div class="list__item">
<article class="archive__item" itemscope="" itemtype="http://schema.org/CreativeWork">

<h2 class="archive__item-title" itemprop="headline">
  
    <a href="/talks/2025-01-01-amazon-to-ai-driven-real-estate" rel="permalink">From Amazon to AI-Driven Real Estate: Jayanth Kumar's Vision at Turl Street Group</a>
</h2>

<p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> January 01, 2025</p>
<p class="archive__item-excerpt" itemprop="description">Podcast, Xraised,  Online 
</p><p class="archive__item-excerpt" itemprop="description"></p><p>Listen to my podcast interview with Xraised host Myles</p>
<iframe title="Jayanth Kumar: Podcast Interview with Amish Munshi" allowtransparency="true" height="150" width="100%" style="border: none; min-width: min(100%, 430px);height:150px;" scrolling="no" data-name="pb-iframe-player" src="https://www.podbean.com/player-v2/?from=embed&i=jim3k-185d882-pb&share=1&download=1&fonts=Arial&skin=1&font-color=auto&rtl=0&logo_link=episode_page&btn-skin=60a0c8&size=150" loading="lazy"></iframe>
</article>
</div> -->
